<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>DependencyInjectionDemos.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>F6894EC61E855CEF00FAA22E</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>F6894F021E8562DD00FAA22E</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>F6F542501E851CA700CA6343</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
