form(action="/api/superheroes" method="POST")
    input(type="text", name="name", placeholder="name")
    input(type="text", name="secretIdentity", placeholder="secretIdentity")
    textarea(name="bio", placeholder="Bio")
    input(type="text", name="imgUrl", placeholder="imgUrl")
    button | Create